
nav {
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: pink;
}

body {
	background-color: royalblue;
}

li {
    list-style: square;
}

header {
	margin: 1rem;
	padding: 1rem;
	color: navajowhite;
	border-radius: 5px;
}

footer {
	margin: 1rem;
	padding: 1rem;
	color: navajowhite;
	border-radius: 5px;
}

main {
	max-width: 800px;
	margin: auto;
}

figcaption {
	color: navajowhite;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -50px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

.lucy-logo {
	max-width: 5%;
	margin-left: 1rem;
}


.title-text {
	display: flex;
	justify-content: flex-start;
	padding-left: 3rem;
	font-size: 3rem;
	color: navajowhite;
	font-style: italic;
	font-weight: bold;
	font-family: Goblin One;
}

.body-text {
	display: flex;
	align-items: flex-start;
	margin: auto;
	font-size: 1rem;
	color: navajowhite;
	font-family: Arvo;
}

.list-text {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	font-size: 1rem;
	color: navajowhite;
	font-family: Dosis;
}

.main-content {
	display: flex;
	flex-direction: row;
}

.main-image {
	display: flex;
	max-width: 90%;
	margin: auto;
}

.album-intro {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin: 1rem;
	padding: 1rem;
	background-color: sandybrown;
	border-radius: 1rem;
	font-family: Arvo;
}

.page-title {
	font-family: Goblin One;
}

.list-image {
	display: flex;
	justify-content: flex-start;
	max-width: 270px;
	padding-left: 0.5rem;
	padding-top: 0.5rem;
    box-shadow: 3px 3px lightcyan;
    border-radius: 0.3rem;
}

.list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: inset 1rem 1rem sandybrown;
	border-radius: 3px;
	margin-bottom: 1rem;
}

.list-paragraph {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 0.5rem;
	font-family: Arvo;
}

.album-title {
	margin-left: 1rem;
	margin-bottom: 0.3rem;
	font-family: Goblin One;
}

.artist {
	margin-left: 1rem;
	margin-bottom: 0.3rem;
	font-family: Dosis;
}

.genius {
	margin-left: 1rem;
	margin-bottom: 0.3rem;
	font-family: Dosis;
}

.album-blurb {
	margin-left: 1rem;
	margin-bottom: 0.3rem;
}

.phone-number {
	margin-left: 1rem;
	color:lightskyblue;
}

.coffe-blurb {
	order: 2;
	margin: auto;
	font-family: Arvo;
}

.hideThis {
	display: none;
}

.gallery-example {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.gallery-title {
	display: flex;
	justify-content: center;
}

.gallery-blurb {
	display: flex;
	align-items: center;
	margin-left: 2rem;
	margin-right: 2rem;
}


.gallery-image img {
	display: flex;
	justify-content: center;
	max-width: 100%;
}


.button_holder {
	display: flex;
	flex-direction: row;
}

.stepper {
	display: flex;
	align-items: center;
	color: navajowhite;
}

button {
	background-color: navajowhite;
	margin: 1rem;
	padding: 1rem;
	min-width: 3rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

button_next {  }
button_previous {  }

/*start of media query */
@media screen and (max-width: 800px){

	nav {
		display: flex;
		flex-direction: column;
	}

	section {
		display: flex;
		flex-direction: column;
	}

	.list-item {
		display: flex;
		flex-direction: column;
	}

}

@media screen and (max-width: 555px){

	nav {
		display: flex;
		flex-direction: column;
	}

	section {
		display: flex;
		flex-direction: column;
	}	

	body {
		display: flex;
		flex-direction: column;
		font-family: Arvo;
	}

	.list-image {
		display: flex;
		align-content: center;
		flex-direction: column;
	}

}

@media screen and (mobile){
	nav {
		display: flex;
		flex-direction: column;
	}

	section {
		display: flex;
		flex-direction: column;
	}	

	.list-image {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
