
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(52, 134, 235);
}

h1 {
	font-family: "Goblin One", serif;
	background-color: rgba(0, 0, 0, 0.5);
}

p {
	font-family: "Arvo";
	background-color: rgba(0, 0, 0, 0.25);
}

.main-text {
	font-weight: bold;
	font-style: italic;
	color: whitesmoke;
	font-size: 3.5rem;
}

.body-text {
	font-weight: bold;
	color: whitesmoke;
	font-size: 2rem;
}

.list-text {
	font-weight: 500;
	color: antiquewhite;
	font-size: 1rem;
	font-family: Dosis;
}

.main-image {
	max-width: 50%;
}

/*start of media query*/
