
nav {
	display: flex;
	justify-content: space-evenly;
	background-color: ;
	max-width: 800px;
	margin: auto;
	font-size: 1rem;
	border-radius: 0.2rem;
	text-transform: uppercase;
	background-color: rgba(255, 192, 203, 0.1);
}

a {
	text-decoration: none;
	color: pink;
}

body {
	background-color: rgba(52, 134, 235);
}

div {
	display: flex;
	justify-content: center;
	background-color: rgba(255, 192, 203, 0.33);
}

li {
    list-style: square;
}

.title-text {
	display: flex;
	justify-content: center;
	background-color: rgba(255, 192, 203);
	font-size: 3rem;
	color: wheat;
	font-style: italic;
	font-weight: bold;
	font-family: Goblin One;
}

.body-text {
	display: flex;
	justify-content: center;
	background-color: rgba(255, 192, 203, 0.33);
	font-size: 1.75rem;
	color: whitesmoke;
	font-family: Arvo;
}

.list-text {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color: rgba(255, 192, 203, 0.33);
	font-size: 1rem;
	color: wheat;
	font-family: Dosis;
}

.main-image {
	max-width: 75%;
}

header {
	margin: 1rem;
	padding: 1rem;
	background-color: black;
	color: whitesmoke;
	border-radius: 10px;
}

footer {
	margin: 1rem;
	padding: 1rem;
	background-color: black;
	color: whitesmoke;
	border-radius: 10px;
}

/*start of media query */
@media screen and (max-width: 500px){

	nav{
		display: flex;
		flex-direction: column;
	}

}

